= render partial: "layouts/flash"
.row
	.span5.col-md-offset-1
		= form_for(@student, url: update_student_path(@student.id, @student), method: :post, remote: true) do |student|
			= render :partial => 'student_form', locals: { student: student }
			%dt
			%dd
				= student.button 'update', class: "btn btn-primary"