%dt Father name:
%dd
	= profile.text_field :father_name
%dt Father contact number:
%dd
	= profile.text_field :father_contact_number
%dt Mother name:
%dd
	= profile.text_field :mother_name
%dt Mother contact number:
%dd
	= profile.text_field :mother_contact_number